.title{
    font-size:20px;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.subtitle{
    color: blue;
}

#blocked-hosts {
    display: block;
    margin-top: 1em;
    font-size: 16px;
}
