html, body {
	margin: 0.3em;
	width: auto;
	min-width: 250px;
	max-width: 500px;
	background: linear-gradient(90deg, #FFFFE0 0%,#FFFACD 48%,#FFFF00 100%);
}

div {
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-bottom: 1px solid grey;
}

#history-title {
	font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#history {
	display: block;
	word-wrap: break-word;
	margin: 0.5em;
	text-decoration: none;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

#clear {
	text-decoration: none;
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}