html, body {
	background: linear-gradient(90deg, #E6E6FA 0%,#DDA0DD 48%,#EE82EE 100%);
}

.url__styles{
    font-size: 15px;
    font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}